
.navbar{
    padding: 30px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: #310818;
}

.navbar-brand{
    margin-left: 50px;
}

.navbar-nav{
  margin-left: 350px;
}

#navbarNavDropdown{
    color: #310818;
}

.nav-link{
    color: #310818;
}

.heroBanner{
   margin-top: 145px;
}

.button1{
    color: #F26322;
    font-size: 12pt;
    font-weight: 600;
    padding: 8px 20px;
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 8px;
}

.button2{
    color: #ffffff;
    font-size: 12pt;
    font-weight: 600;
    background-color: #F26322;
    padding: 8px 30px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 80px;
}

h1{
    font-family: Fredoka;
    font-size: 35pt;
    color: #310818;
    font-weight: 500;
    margin-left:8%;
    margin-right: 52%;
    margin-top: -490px;
}
.bolden{
    font-family: Fredoka;
    font-size: 20pt;
    font-weight: 300;
    margin-top: -490px;
}

.bolden1{
    font-family: Andika;
    color: #F26322;
    font-size: 16pt;
    font-weight: 300;
    margin-top: -490px;
}

p{
  font-family: Andika;
  font-size: 20pt;
  margin-left:8%;
  margin-right: 52%;
}

#para1{
    font-family: Andika;
    font-size: 16pt;
    margin-left:40%;
    margin-right: 12%;
    margin-top: -550px;
    color: #310818;
}
h2{
    color: #310818;
    font-family: Fredoka;
    margin-left: 40%;
    margin-right: 10%;

}
ul{
    font-family: Andika;
    font-size: 16pt;
    margin-left: 39%;
    margin-right: 10%;
    margin-top: 0px;
    padding-bottom: 10px;
    color: #310818;
}
.makeBackground{
  width: 100%;
  z-index: -2px;
}

.introSect{
    margin-top: 149px;
}

#approval{
  margin-top: 112px;
  align-items: center;
}

#categoryGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 70px;
    padding-bottom: 50px;
    padding-top: 70px;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 112px;
    align-items: center;
    background-color: #FEE3B7;
}

.approval{
    margin-left: 160px;
}

.approval1{
    margin-left: 200px;
}

.heading{
    font-family: Fredoka;
    font-size: 25pt;
    font-weight: 500;
    color: #310818;
    padding-left: 55px;
    padding-bottom: 15px;
}

.heading1{
    font-family: Fredoka;
    font-size: 25pt;
    font-weight: 500;
    color: #310818;
    padding-left: 20px;
    padding-bottom: 15px;
}

#para2{
    font-family: Andika;
    font-size: 16pt;
    margin-left:-2%;
    margin-right: 3%;
    color: white;
    border: solid 2px #fa9e09;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;
    background-color: #fa9e09;
    padding: 30px;
    width: 550px;
    margin-bottom: 80px;

}

#testimonial{
    margin-top: -47px;
}

h4{
    color: #310818;
    font-size: 14pt;
    font-family: Andika;
    margin-top: -460px;
    padding-bottom: 10px;
    margin-left: 51%;

}

#para3{
    font-family: Fredoka;
    text-align: center;
    color: #310818;
    font-size: 25pt;
    font-weight: 500;
    margin-left: 10%;
    margin-right: 15px;
}

.button3{
 font-size: 15pt;
 font-weight: 600;
 margin-bottom: 20px;
 padding: 10px 20px;
 margin-left: 49%;
 color: #310818;
 border: solid 2px #310818;
 background-color: #FBF9BA;
 border-radius: 8px;
}

#footerimg{
    margin-top: 228px;
}

#para4{
    font-family: Fredoka;
    text-align: center;
    color: white;
    font-size: 35pt;
    font-weight: 500;
    margin-left: 35%;
    margin-right: 15px;
    margin-top: -320px;
}

.button4{
 font-family: Andika;
 font-size: 15pt;
 font-weight: 600;
 margin-bottom: 20px;
 padding-bottom: 10px;
 margin-left: 58%;
 color: #310818;
 background-color: #FBF9BA;
 padding: 10px 23px;
 border-radius: 8px;
 box-shadow: #310818;
}

.footer-clean{
    background-color: #e8e9a9;
    margin-top: 0px;
}

.container{
    margin-left: 450px;
    width: 100%;
}

h5{
    font-family: Fredoka;
    font-size: 16pt;
    margin-top: 85px;
    font-weight: 300;
    margin-left: 110px;
}


h6{
    font-family: Fredoka;
    font-size: 18pt;
    color: #310818;
    font-weight: 500;
    margin-left: -100px;
    margin-top: 70px;
}

.footerinfo{
    margin-left: -177px;
    font-size: 20px; 
}

.item{
    width: 160px;
    flex: 0 0 18%;
}

.row{
    width: 100%;
}


#inline-block{
    display: flex;
    background-color: #f8f9ec;
    width: 100%;
    margin-top: 88px;
    align-content: center;
    justify-content: center;
}

#inline-block div{
    align-items: center;
    padding-bottom: 35px;
    padding-top: 30px;
}

.certificates{
   vertical-align: top;
   padding: 10px; 
   margin-top: 20px;
   margin-right: 20%;
   margin-left: 20px;

}

#para5{
    font-family: Fredoka;
    font-size: 20pt;
    font-weight: 500;
    margin-left: 8%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 75px;
    width: 350px;
    color: #310818;
}

.copyright{
    width: 100%;
    background-color: #3AA508;
    margin-top: 0px;
    margin-bottom: 0px;
}

#para6{
    font-family: Fredoka;
    font-size: 15pt;
    font-weight: 400;
    padding-left: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

  .social-icons{
    width: 300px;
    margin-top: 60px;
  }


  .fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #310818;
  }

  .fa-youtube {
    color: #310818;
  }
  
  .fa-instagram {
    color: #310818;
  }
  
  .fa-pinterest {
    color: #310818;
  }
  
  @media only screen and (max-width: 768px) and (max-width:1023px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    h1 {
        text-align: left;
        font-size: 12pt;
        margin-left: 5%;
        margin-top: -190px;
        width: 48%;
      }

    p{
        font-family: Andika;
        font-size: 10pt;
        margin-left:5%;
        margin-right: 52%;
        width: 48%;
      }
      
    .bolden{
        font-size: 12pt;
        font-weight: 100;
    }  

    #para1{
        font-family: Andika;
        font-size: 8pt;
        margin-left:30%;
        margin-right: 12%;
        margin-top: -255px;
        width: 65%;
    }

    .introSect{
        margin-top: 34px;
    }

    h2{
        color: #310818;
        font-family: Fredoka;
        margin-left: 30%;
        margin-right: 10%;
        font-size: 12pt;
    }

    ul{
        font-size: 8pt;
        margin-left: 30%;
        margin-right: 10%;
        margin-top: 0px;
        padding-bottom: 6px;
        width: 50%;
    }

    .bolden1{
        font-size: 8pt;

    }

    #categoryGrid{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        padding-bottom: 50px;
        align-content: center;
        margin-left: -10%;
        margin-top: -12px;
      }

    .approval{
        margin-left: 160px;
        width: 85px;
    }
    
    .approval1{
        margin-left: 180px;
        width: 85px;
    }  
    
    .heading{
        font-size: 14pt;
        font-weight: 500;
        padding-left: 85px;
        padding-bottom: 15px;
    }
    
    .heading1{
        font-size: 14pt;
        font-weight: 500;
        padding-left: 70px;
        padding-bottom: 15px;
    }
    
    #para2{
        font-size: 12pt;
        margin-left:-3%;
        margin-right: 3%;
        padding: 20px;
        width: 450px;
        margin-bottom: 30px;
    }

    #testimonial{
        margin-top: 0px;
    }

    h4{
        color: #310818;
        font-size: 12pt;
        margin-top: -230px;
        padding-bottom: 10px;
        margin-left: 40%;
    }
    
    #para3{
        font-family: Fredoka;
        text-align: center;
        font-size: 14pt;
        font-weight: 500;
        margin-left: 18%;
        margin-right: 18px;
        width: 420px;
        padding-bottom: 10px;
    }
    
    .button3{
     font-size: 10pt;
     font-weight: 600;
     padding: 8px 18px;
     margin-left: 35%;
    }

    #footerimg{
        margin-top: 19px;
    }

    #para4{
        font-size: 20pt;
        font-weight: 500;
        margin-left: 41%;
        margin-top: -175px;
    }
    
    .button4{
     font-size: 10pt;
     font-weight: 600;
     margin-bottom: 20px;
     padding-bottom: 10px;
     margin-left: 48%;
     padding: 10px 23px;

    }

    #inline-block{
      width: 100%;
    }


    .container{
        margin-left: 120px;
        width: 100%;
    }

    h6{
        font-size: 14pt;
        font-weight: 500;
        margin-left: -10px;
        margin-top: 70px;
    }
    
    .footerinfo{
        margin-left: -15px;
        font-size: 14px; 
    }

    .copyright{
        width: 100%;
    }

    #para6{
        font-size: 10pt;
        font-weight: 400;
        padding-left: 250px;
}